/* CSS reset + font setting */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;

  /* TODO: otf 파일 import 고쳐야 함. */
  font-family: url("../assets/font/NotoSansKR-Regular.otf");
  letter-spacing: 0.03rem;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  min-height: 200px;
}
