/* CSS reset + font setting */
@font-face {
  font-family: "NotoSansKR";
  src: url("../assets/font/NotoSansKR-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;

  font-family: "NotoSansKR";
  letter-spacing: 0.03rem;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  min-height: 200px;
}
