/* popup form part*/
.popup-form {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 160px;
}

.popup-form .form-label {
  font-size: 12px;
  margin-bottom: 4px;
}

/* popup form select */
.popup-form .form-select {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  font-size: 16px;

  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 1px 3px 1px;
}

.popup-form .form-select option {
  border-bottom: 1px solid #d1d1d5;
  border-radius: 8px;
}

.popup-form .form-select option:checked {
  color: #fff;
  font-weight: 600;
  background-color: #ffd268;
}

/* popup button */
.popup-form .form-btn {
  width: 100%;
  height: 38px;
  border-radius: 6px;

  font-size: 18px;
  font-weight: 600;
  color: white;
}

.popup-form .form-submit {
  background-color: #ffb300;
  transition: opacity 100ms ease-in;
}

.popup-form .form-submit:hover,
.popup-form .form-submit:active {
  opacity: 0.6;
}

.popup-form .form-loading {
  background-color: #faab78;
}
